.section-container {
    background-color: #FFFBF3;
    padding-top: 20px;
}

.layout-flex {
    display: flex;
    justify-content: left;
    padding: 40px;
    margin: 40px auto;
    width: 80%;
    align-items: center;
    background-color: #FFFBF3;
}

.block-left {
    width: 50%;
}

.block-right {
    width: 50%;
}

#text-highlight {
    color: #BC968B;
    margin-bottom: 24px;
    font-size: 24px;
}

.list-style-checked li {
    list-style: url('../img/check-solid.svg');
    color: #5F2515;
    font-size: 18px;
}

.btn.btn-second {
    background-color: #F8AE1A;
    padding: 4px 24px;
    border-radius: 8px;
    color: #FEFFEA;
    margin-top: 20px;
}

.btn.btn-second:hover {
    background-color: #FFCF6F;
    color: #FEFFEA;
}

.cafe {
    width: 70%;
    padding-left: 50px;
    margin-left: 210px;
}

.title2 {
    font-size: 48px;
    color: #5F2515;
}